<launch>

<rosparam file="$(find sr1_3dof_urdf_description)/launch/controller.yaml" command="load"/>
<node args="joint2_position_controller joint3_position_controller joint1_position_controller Rev42_position_controller joint_state_controller " name="controller_spawner" ns="sr1_3dof_urdf" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/sr1_3dof_urdf/joint_states"/>
</node>

</launch>